* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.fontRoboto {
    font-family: 'Roboto';
    font-style: normal;
}

.title {
    background: #E5E5E5;
}

.title ul {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    display: flex;
    justify-content: center;
}

.title li {
    padding: 17px 30px;
}

.img span {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #F13C6E;
    text-transform: uppercase;
}

.number {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.buttCall {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;

    border: 2px solid #F13C6E;
    border-radius: 40px;
    background: none;
    padding: 10px 50px;
}

.logo {
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
}

.img {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main_menu {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 30px 0px;
    border-top: 1px solid #EFEFEF;
}

.main_menu ul {
    display: flex;
    justify-content: center;
}

.main_menu li {
    padding: 0px 30px;
}

.sale {
    background-image: url("./gallery/Rectangle 2.jpg");
    width: 1618px;
    height: 604px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 15%;
}
.chair{
    width: 20%;
}

.superchair {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    padding: 20px 0px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 255px;
    padding: 20px 0px;
}

.buttMore {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 10px 70px;
}

.all {
    background: #E5E5E5;
    padding: 10px 5%;
}

.title1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    padding: 15px 8%;
}

.special_off ul {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.chairBox {
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
}

.special_span {
    margin: 10px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    width: 80%;
}

.buttBuy {
    background: #F13C6E;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    padding: 10px 40px;
    border: #F13C6E;
}

.price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin: 10px;
}

.text_big {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 20px 0px;
}

.text_small {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    width: 60%;
    padding-bottom: 20px;
}

.gift {
    background: #F13C6E;
    display: flex;
    padding: 20px 40px;
    gap: 20px;
    width: 460px;
}

.store_map {
    background: #F13C6E;
    display: flex;
    padding: 20px 40px;
    gap: 20px;
    width: 460px;
}

.subscribe {
    padding: 40px 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.email {
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    padding: 10px 0px 10px 10px;

}

.buttStore {
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 20px;
    width: 180px;
}

.gift_text {
    display: flex;
    flex-direction: column;
}

.sms {
    padding: 30px 0px 30px 30px;
}

.car {
    padding: 30px 0px 30px 30px;
}

.impulse_box {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.impulse_list {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    justify-content: center;
}

.impulse {
    background-color: #FFFFFF;
    padding: 35px 60px;
    border: 1px solid #EFEFEF;
}

.btext {
    font-weight: 500;
    font-size: 16px;
    line-height: 140.62%;
    color: #000000;
    width: 80%;
    border-bottom: 1px solid #EFEFEF;
    padding: 20px 0px;
    width: 200%;
}

.popular_categories {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    gap: 10%;
    border-bottom: 1px solid #EFEFEF;
}

.menu {
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    padding: 20px 0px;
}

.social_media {
    display: flex;
    justify-content: space-between;
    padding: 30px 15%;
}

.link_social img {
    padding: 0px 10px;
}

.finish {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    display: flex;
    justify-content: space-between;
    padding: 30px 15%;
    background-color: #EFEFEF;
}