@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap');

@mixin lato() {
  font-family: 'Lato';
  font-style: normal;
}

@mixin robotoslab() {
  font-family: 'Roboto Slab';
  font-style: normal;
}

@mixin lora() {
  font-family: 'Lora';
  font-style: normal;
}

@mixin quick() {
  font-family: 'Quicksand';
  font-style: normal;
}

@mixin flex($value1, $value2, $value3) {
  display: $value1;
  align-items: $value2;
  flex-direction: $value3;
}

$white: #fff;
$gray: #333333;
$green: #1ED500;
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-style: normal;
}

.body {
  font-family: 'Lato', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto Slab', serif;
}

.background1 {
  background: no-repeat url("gallery/background.png");
  background-size: 100%;
}

.name {
  @include robotoslab();
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.block {
  @include lato();
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

svg{
  fill: black;
}

.head {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.85);
  padding: 30px 0;

  &__name, &__block {
    color: $white;
  }

  &__block, &__social {
    @include flex(flex, center, none);
    gap: 40px;

  }

  &__block-bar {
    @include flex(flex, center, none);
  }
}

.btn {
  @include flex(flex, center, none);
  background: $green;
  text-transform: uppercase;
  color: $white;
  border: none;
}

.content {
  @include flex(flex, center, column);

  .container {
    @include flex(flex, center, column);
    padding: 30px;
    background: rgba(0, 0, 0, 0.85);
    margin: 10% 15% 0 15%;
    position: relative;

    &__title, &__subtitle {
      color: $white;
    }

    &__title {
      @include lora();
      font-weight: 700;
      font-size: 84px;
      line-height: 100px;
      text-align: center;
      text-transform: uppercase;
    }

    &__subtitle {
      @include lato();
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      padding: 30px 0;
    }

    &__btn {
      padding: 20px 100px;
      @include lato();
      font-weight: 900;
      font-size: 16px;
      line-height: 19px;
    }
  }

  .plane {
    padding: 80px 0;
  }
}

.maintitle {
  @include robotoslab();
  font-weight: 700;
  font-size: 56px;
  line-height: 74px;
  text-align: center;
  text-transform: uppercase;
}

.mainsubtitle {
  @include quick();
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.text {
  @include robotoslab();
  font-weight: 700;
  font-size: 144px;
  line-height: 190px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.background2, .background4 {
  background: #E5E5E5;
  padding: 5%;
}

.about {
  &__title, &__subtitle1 {
    color: $gray;
    padding: 25px 0;
  }

  .start-about {
    @include flex(flex, center, column)
  }

  &__subtitle1 {
    width: 61%;
    display: flex;
  }

  .progress {
    @include flex(flex, center, row);
    justify-content: space-between;
    color: $green;
  }

  .svg-photo {
    @include flex(flex, center, row);
    justify-content: space-between;
  }
}

.stats {
  ul {
    display: flex;
    justify-content: space-around;
  }

  &__name {
    @include quick();
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
    text-align: center;
    color: $gray;
    width: 148%;
  }

  &__num {
    color: $green;
  }

  &__elem {
    @include flex(flex, center, column);
    width: 20%;
  }

  &__qwe {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -96px;
  }
}


.background3 {
  background: no-repeat url("gallery/background3.png");
  background-size: 100%;
}

.nearest {
  @include flex(flex, center, column);
  padding: 65px;

  &__title, &__country-name, &__date, &__discount, &__btn, &__about-country {
    color: $white;
  }

  &__date, &__about-country, &__discount, &__btn {
    @include quick();
    padding: 20px 40px;
  }

  &__about-country {
    width: 60%;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }

  &__date {
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__discount {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    border-top: 3px solid $white;
    width: 30%;
  }

  &__btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    @include flex(flex, center, none);
  }
}

.popular {
  @include flex(flex, center, column);

  &__titles, &__inst {
    color: $gray;
  }

  &__titles, &__inst, &__block-img, &__btn {
    padding: 20px 40px;
  }

  &__block-img {
    @include flex(flex, center, none);
    gap: 40px;
  }

  &__btn {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    @include flex(flex, center, none);
  }
}

.topcount {
  @include robotoslab;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: $white;
  background: rgba(0, 0, 0, 0.85);
  padding: 5px;
}

.namepopular {
  display: flex;

  &__prague {
    position: relative;
    top: -19.5em;
    left: -25em;
  }

  &__port {
    position: relative;
    top: -19.5em;
    left: -10em;
  }

  &__dubai {
    position: relative;
    top: -19.5em;
    left: 6.2em;
  }
}

.background5 {
  background: rgba(30, 212, 0, 0.4) no-repeat url("gallery/background5.png");
  background-size: 100%;
  padding: 20px 5%;
}

.sec-name {
  color: $white;
  padding: 15px 0;
}

.video {
  @include flex(flex, center, row);
  justify-content: space-between;
}

.video-name {
  @include lato();
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  background: rgba(0, 0, 0, 0.85);
  padding: 5px;
}

.stories {
  @include flex(flex, center, row);
  justify-content: space-between;

  &__thai {
    position: relative;
    top: 100px;
    left: 5px;
  }

  &__story {
    position: relative;
    top: 75px;
    left: -150px;
  }

  &__aurora {
    position: relative;
    top: 100px;
    left: -265px;
  }
}

.play {
  @include flex(flex, center, row);
  justify-content: space-around;
  gap: 300px;
  position: relative;
  top: 185px;
}

.background6 {
  background: no-repeat url("gallery/background6.png");
  background-size: 100%;
}

.footers {
  display: flex;
  justify-content: space-around;
  padding: 90px 0;

  &__name, &__block {
    color: $gray
  }

  &__block, &__social {
    @include flex(flex, center, none);
    gap: 40px;

  }

  &__block-bar {
    @include flex(flex, center, none);
  }
}